/*=============================== GOOGLE FONT ===================================*/
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/*=============================== CSS RESET ====================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #0fbcf9;
}

/*================================== UI COMPONENTS ==============================================*/
header {
    position: relative;
    min-height: 35vh;
    border-bottom: 5px solid #000;
}

main {
    min-height: 60vh;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.right {
    color: rgb(0, 0, 0);
    width: 45rem;
    font-size: 2rem;
    margin: 2rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number {
    background: rgb(0, 0, 0);
    color: #fff;
    font-size: 4.8rem;
    width: 15rem;
    padding: 3.2rem 2rem;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.range {
    font-size: 1.8rem;
    position: absolute;
    top: 10%;
    right: 0;
}

.again {
    position: absolute;
    top: 0;
    left: 0;
}

.guess {
    display: block;
    background: none;
    border: 5px solid #000;
    font-family: inherit;
    color: #000;
    font-size: 5rem;
    padding: 2.5rem;
    width: 32rem;
    text-align: center;
}

input:focus {
    outline: none;
}

.btn {
    display: inline-block;
    font-size: 2rem;
    font-family: inherit;
    text-align: center;
    color: #fff;
    background: rgb(0, 0, 0);
    padding: 2rem 3rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #00f8008f;
}

.message {
    margin-bottom: 8rem;
    height: 3rem;
}

.label-score {
    margin-bottom: 2rem;
}

/*================================== MEDIA QUERIES ===============================================*/
@media screen and (max-width: 665px) {
    header {
        min-height: 25vh;
        border-bottom: 2px solid #000;
    }

    main {
        flex-direction: column;
    }

    .left {
        margin-top: -0.2rem;
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -8rem;
        font-size: 1.6rem;
    }

    .score-box {
        margin-top: -6rem;
    }

    h1 {
        font-size: 1.6rem;
        top: 60%;
    }

    .number {
        font-size: 2.4rem;
        width: 8rem;
        padding: 1.6rem 1.2rem;
    }

    .range {
        font-size: 1.2rem;
    }

    .again,
    .check {
        font-size: 1.2rem;
    }

    .btn {
        padding: 1.2rem 1.6rem;
    }

    .guess {
        border: 2px solid #000;
        font-size: 2.5rem;
        padding: 1.5rem;
        width: 20rem;
    }
}
